<h1>{{title}}</h1>
<h2{{data.dateAndTime}}
<p>Welcome to {{title}}</p>
<br>
<h3>Checking Features</h3>
{{#if featureEG1}}
    <p>Feature: <strong>EG1</strong> is <strong>ON</strong>.</p>
{{else}}
    <p>Feature: <strong>EG1</strong> is <strong>OFF</strong>.</p>
{{/if}}
<br>
{{#if data.properties}}
    <h3>System Properties obtained from request to [api1.ccsdev-internal.org].</h3>
    <table border="2">
        <tr><th>Property</th><th>Value</th></tr>
        {{#each data.properties }}
            <tr><td>{{@key}}</td><td>{{this}}</td></tr>
        {{/each}}
    </table>
    <br>
    <br>
{{/if}}
{{#if data.environment}}
    <h3>Environment Variables obtained from request to [api1.ccsdev-internal.org].</h3>
    <table border="2">
        <tr><th>Variable</th><th>Value</th></tr>
        {{#each data.environment }}
            <tr><td>{{@key}}</td><td>{{this}}</td></tr>
        {{/each}}
    </table>
    <br>
    <br>
{{/if}}
